.navbar {
  background-color: #2196f3;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-wrap img {
  margin-left: 5px;
  margin-top: 10px;
  height: 33px;
  padding-bottom: 4px;
}

.navbar_element {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3px;
  padding-top: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar_element-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar_element-right-wrap {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  margin-right: 15px;
}

.navbar_level svg {
  color: #ffcf22;
}

.navbar_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: white;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 10px;
}

.navbar_search .search_txt {
  position: absolute;
  background: none;
  outline: none;
  border: none;
  overflow: hidden;
  width: 27px;
  height: 27px;
  z-index: 5;
  opacity: 0;
  border-radius: 30px;
  -webkit-transition: width 1s;
  transition: width 1s;
  padding-left: 25px;
}

.navbar_search .search_icon {
  z-index: 4;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: white;
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navbar_search .search_txt:focus {
  position: relative;
  width: 180px;
  padding-left: 0;
  opacity: 1;
}

.navbar_dropdown {
  position: relative;
  font-size: 13px;
}

.navbar_dropdown-wrap {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 120px;
  background-color: #fff;
  border-radius: 30px;
  padding: 0 10px;
  padding-bottom: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar_dropdown-content {
  border: 1px solid #000;
  left: 0px;
  top: 30px;
  width: 160px;
  background-color: #fff;
  position: absolute;
}

.navbar_dropdown-content .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 5px;
}

.navbar_dropdown-content .dropdown-item .item {
  padding-left: 10px;
}

.navbar_dropdown-content .dropdown-item .item:hover {
  background: #2196f3;
  cursor: pointer;
  color: #fff;
}

.navbar_layout {
  margin-left: 10px;
  cursor: context-menu;
}

.navbar_layout-wrap {
  color: #fff;
  padding-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar_layout-wrap svg {
  cursor: pointer;
  padding-left: 5px;
}

.navbar_search:focus > .search_txt {
  width: 240px;
  padding: 0 6px;
}

.board_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
}

.board_title .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 15px;
}

.board_title .left .title_wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.board_title .left .title_wrap-input {
  margin-right: 5px;
}

.board_title .left .title_wrap-context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.board_title .left .title_wrap-context input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  padding-left: 10px;
}

.board_title .left .title_wrap .context {
  margin-left: 15px;
  border: 1px solid #fdfdfd;
}

.board_title .left .title_wrap .context:focus {
  border: 1px solid #000;
}

.board_title .left .title_wrap .name {
  padding: 5px;
  padding-left: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  border: 1px solid #fdfdfd;
}

.board_title .left .title_wrap .name:focus {
  border: 1px solid #000;
}

.board_title .left .title_wrap .name:hover {
  cursor: pointer;
}

.board_title .left .title_wrap input {
  height: 23px;
}

.board_title .left .title_wrap-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board_title .left .title_wrap-btn:hover {
  cursor: pointer;
}

.board_title .left .title_wrap-btn .save {
  background: #00c853;
  border-bottom: 2px solid #00a946;
  width: 40px;
  height: 24px;
  padding: 0;
  border: none;
  color: #fff;
  border-radius: 3px;
}

.board_title .left .title_wrap-btn .save:hover {
  cursor: pointer;
  background: #04913f;
}

.board_title .left .title_wrap-btn .cancel {
  width: 55px;
  height: 24px;
  background: none;
  border: none;
  color: #69acf8;
}

.board_title .left .title_wrap-btn .cancel:hover {
  cursor: pointer;
  background: #cdfce0;
}

.board_title .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.board_title .right button {
  background-color: #8e24aa;
  color: #fff;
  padding: 5px;
  margin-left: 14px;
  border-radius: 4px;
}

.board_title .right button:hover {
  background-color: #8f5a9e;
  cursor: pointer;
}

.board_title .right .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  color: #8e24aa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board_title .right .icon svg {
  font-size: 1.3rem;
}

.board_title .right .icon-setting {
  margin-right: 15px;
}

.board_title .right .icon:hover {
  cursor: pointer;
}

.mainboard {
  background-color: #f3f3f3;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainboard_wrap {
  width: 94%;
}

.mainboard_title {
  font-size: 30px;
  font-weight: 650;
  padding-top: 50px;
  color: #283593;
  margin-bottom: 15px;
}

.mainboard .filter-bar_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffff;
  padding: 17px 15px;
}

.mainboard .filter-bar_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: white;
  border-radius: 30px;
  border: 1px solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 10px;
}

.mainboard .filter-bar_search svg {
  height: 15px;
}

.mainboard .filter-bar_search .search_txt {
  position: absolute;
  background: none;
  outline: none;
  border: none;
  overflow: hidden;
  width: 20px;
  height: 20px;
  z-index: 5;
  opacity: 0;
  border-radius: 30px;
  -webkit-transition: width 1s;
  transition: width 1s;
  padding-left: 25px;
}

.mainboard .filter-bar_search .search_icon {
  padding: 2px 2px;
  z-index: 4;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: white;
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.mainboard .filter-bar_search .search_txt:focus {
  position: relative;
  width: 180px;
  padding-left: 0;
  opacity: 1;
}

.mainboard .description {
  margin-top: 20px;
}

.mainboard .description_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainboard .description_wrap hr {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  opacity: 0.2;
}

.mainboard .description_content {
  font-size: 20px;
  font-weight: 600;
  color: #283593;
  padding-bottom: 7px;
  margin-right: 10px;
}

.mainboard .description_sub-content {
  color: #77778f;
  margin-right: 20px;
  padding-bottom: 5px;
}

.mainboard .boardlist_wrap {
  padding-top: 20px;
}

.mainboard .boardlist_addbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dashed #000;
  max-width: 150px;
  padding: 15px 0;
}

.mainboard .boardlist .makeStyles-paper-5 {
  padding-bottom: 0px !important;
  padding: 0 0;
}

.mainboard .boardlist .makeStyles-t-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2.5px dashed #cacaca;
  background-color: #f3f3f3;
}

.mainboard .boardlist .makeStyles-t-4 svg {
  font-size: 4rem;
}

.mainboard .boardlist .makeStyles-t-4:hover {
  border: 2.5px dashed #8e24aa;
  cursor: pointer;
}

.mainboard .boardlist .makeStyles-t-4 span {
  font-weight: 600;
}

.mainboard .boardlist .board_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mainboard .boardlist .board_wrap-head {
  padding: 15px 15px;
}

.mainboard .boardlist .board_wrap:hover {
  cursor: pointer;
}

.mainboard .boardlist .board_wrap .title {
  font-size: 20px;
  float: left;
  word-break: break-all;
  text-align: left;
  max-width: 150px;
}

.mainboard .boardlist .board_wrap .info_wrap {
  padding-top: 15px;
  font-size: 0.8rem;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.mainboard .boardlist .board_wrap .info_wrap svg {
  font-size: 0.8rem;
  padding-right: 2px;
  margin-top: 3px;
}

.mainboard .boardlist .board_wrap .info_wrap-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainboard .boardlist .board_wrap .elements {
  margin-top: 10px;
  width: 100%;
}

.mainboard .boardlist .board_wrap .elements_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 13px 0;
}

.mainboard .boardlist .board_wrap .elements hr {
  margin: 0 0;
  opacity: 0.3;
}

.mainboard .boardlist .board_wrap .elements svg {
  color: #ffcf22;
  font-size: 3rem;
  padding: 0;
}

.mainboard .boardlist .board_wrap .elements .wentwell {
  width: 20%;
  height: 8px;
  background-color: #009688;
  margin-right: 10px;
}

.mainboard .boardlist .board_wrap .elements .toimprove {
  width: 20%;
  height: 8px;
  background-color: #e91e63;
  margin-right: 10px;
}

.mainboard .boardlist .board_wrap .elements .actions {
  width: 20%;
  height: 8px;
  background-color: #9c27b0;
}

.mainboard .boardlist .board_wrap .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainboard .boardlist .board_wrap .button-group .btn-url {
  padding: 5px 5px;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: #9c27b0;
}

.mainboard .boardlist .board_wrap .button-group .btn-url svg {
  padding-top: 1px;
  margin-right: 2px;
  font-size: 1rem;
}

.mainboard .boardlist .board_wrap .button-group .btn-url:hover {
  cursor: pointer;
  background-color: #ececec;
}

.mainboard .boardlist .board_wrap .button-group .btn-option {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  float: right;
}

.mainboard .boardlist .board_wrap .button-group .btn-option:hover {
  cursor: pointer;
  background-color: #ececec;
}

.dashboard {
  height: 100%;
}

.dashboard-nav {
  background-color: #2196f3;
  height: 47px;
}

.dashboard-nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard-nav-wrap .navbar-avatar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  color: #fff;
}

.dashboard-nav-wrap .navbar-avatar:hover {
  cursor: pointer;
}

.dashboard .option-tab {
  position: relative;
}

.dashboard .option-tab .MenuOption {
  position: relative;
  margin-right: 20px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard .option-tab .MenuOption__wrap {
  width: 94%;
  padding-bottom: 11px;
}

.dashboard .option-tab .MenuOption__wrap--active {
  border-bottom: 4px solid #8e24aa;
}

.dashboard .option-tab .MenuOption__wrap--active span {
  color: black !important;
}

.dashboard .option-tab .MenuOption__wrap span {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #a3acb9;
}

.dashboard .option-tab .MenuOption__wrap a {
  margin-right: 30px;
  padding-bottom: 1px;
  padding: 8px 0px;
  text-decoration: none;
}

.MuiDialog-paperWidthSm .MuiTypography-h6 {
  font-size: 2rem;
  text-align: center;
  font-weight: 600 !important;
}

.MuiDialog-paperWidthSm .updown-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: -20px;
}

.MuiDialog-paperWidthSm .MuiIconButton-root {
  padding: 0;
}

.MuiDialog-paperWidthSm .MuiInputBase-input {
  height: 1.5rem;
}

.MuiDialog-paperWidthSm .MuiInputLabel-animated {
  font-size: larger;
}

.MuiDialog-paperWidthSm .template {
  font-size: 1.5rem;
  margin-top: 20px;
}

.MuiDialog-paperWidthSm .btn-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.MuiDialog-paperWidthSm .btn-option .MuiButton-outlinedSecondary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.MuiDialog-paperWidthSm .btn-option .left {
  margin-right: 10px;
}

.MuiDialog-paperWidthSm .option {
  margin-left: 10px;
  margin-top: 20px;
}

.MuiDialog-paperWidthSm .option .MuiFormControlLabel-root {
  margin-bottom: 10px;
}

.MuiDialog-paperWidthSm .option .MuiTypography-body1 {
  font-size: 1.2rem;
}

.MuiDialog-paperWidthSm .MuiDialogContent-root {
  padding-left: 40px;
  padding-right: 40px;
}

.MuiDialog-paperWidthSm .btn-confirm {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 25px;
}

.MuiDialog-paperWidthSm .btn-confirm .MuiButton-containedSecondary {
  width: 100%;
}

.dragdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.dragdrop .add-card {
  margin: 10px 10px;
  background-color: #fff;
}

.dragdrop .add-wrap {
  background-color: #e7e4e4 !important;
}

.dragdrop-wrap {
  width: 99%;
}

.dragdrop-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f3f3f3;
}

.dragdrop .item {
  background: #f3f3f3 !important;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dragdrop_header {
  background: #f3f3f3;
  margin-bottom: 5px;
}

.dragdrop_header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dragdrop_header-wrap .wentwell {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dragdrop_header-wrap .wentwell .add-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dragdrop_header-wrap .wentwell .add-btn button {
  width: 97%;
  height: 32px;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #e7e4e4;
}

.dragdrop_header-wrap .wentwell .add-btn button:hover {
  cursor: pointer;
  background-color: #cccccc;
}

.dragdrop_header-wrap .title {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dragdrop_header-wrap .title .square {
  width: 12px;
  height: 12px;
  bottom: 3px;
  border-radius: 3px;
}

.dragdrop_header-wrap .title .name {
  font-weight: 700;
  margin-left: 10px;
  font-size: 1.1rem;
}

.dragdrop .card {
  padding: 10px 10px !important;
  border-radius: 3px;
}

.dragdrop .card_content-wrap {
  font-weight: 600;
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dragdrop .card_content-wrap .btn-edit:hover {
  cursor: pointer;
}

.dragdrop .card_content-wrap svg {
  color: #ffff;
  width: 20px;
}

.dragdrop .card_content-edit {
  display: none;
  padding: 5px 0;
  background-color: #ffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dragdrop .card_content-edit .btn-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dragdrop .card_content-edit .btn-edit .save {
  font-size: 0.6rem;
  margin-left: 5px;
  background: #00c853;
  border-bottom: 2px solid #00a946;
  width: 40px;
  height: 20px;
  padding: 0;
  padding-bottom: 2px;
  border: none;
  color: #fff;
  border-radius: 3px;
}

.dragdrop .card_content-edit .btn-edit .save:hover {
  cursor: pointer;
  background: #04913f;
}

.dragdrop .card_content-edit .btn-edit svg {
  color: #e91e63;
}

.dragdrop .card_content-edit input {
  border: 1px solid white;
  padding-left: 5px;
}

.dragdrop .card_content .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 700;
  color: #ffff;
}

.dragdrop .card_content .like svg {
  height: 17px;
}

.dragdrop .drag0 .card {
  background: #009688 !important;
}

.dragdrop .drag1 .card {
  background: #e91e63 !important;
}

.dragdrop .drag2 .card {
  background: #9c27b0 !important;
}

.oauth {
  height: 100%;
}

.oauth_logo {
  text-align: center;
  margin-top: 7%;
}

.oauth_logo img {
  top: 50px;
  height: 64px;
}

.oauth .login {
  width: 400px;
  padding: 2em;
  margin: auto;
  margin-bottom: 40px;
  background: white;
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  margin: auto;
}

.oauth .login_wrap {
  width: 90%;
}

.oauth .login_wrap .titlte {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.oauth .login_wrap .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.oauth .login_wrap .input .MuiFormControl-root {
  margin-top: 15px;
}

.oauth .login_wrap .sub-content {
  float: right;
  margin-top: 5px;
  color: #9c27b0;
  margin-bottom: 10px;
}

.oauth .login_wrap .sub-content:hover {
  cursor: pointer;
}

.oauth .login_wrap .sub-content-re {
  margin-top: 5px;
  color: #a3a3a3;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.oauth .login_wrap .btn-group button {
  width: 100%;
  margin-top: 10px;
  height: 41px;
}

.oauth .login_wrap .check .MuiFormControlLabel-root {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.oauth .login_wrap .check .PrivateSwitchBase-root-5 {
  padding-top: 1px;
}

.oauth .login_wrap .check span {
  color: #8a8a8a;
}

.oauth .login_wrap .change {
  text-align: center;
  margin-top: 30px;
}

.oauth .login_wrap .change span {
  color: #9c27b0;
}

.oauth .login_wrap .change span:hover {
  cursor: pointer;
}

.oauth .login_wrap .change a {
  text-decoration: none;
}

.profile {
  width: 400px;
  padding: 2em;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  background: white;
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
}

.profile_wrap {
  width: 90%;
}

.profile_wrap .titlte {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.profile_wrap .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile_wrap .input .MuiFormControl-root {
  margin-top: 15px;
}

.profile_wrap .sub-content {
  float: right;
  margin-top: 5px;
  color: #9c27b0;
  margin-bottom: 10px;
}

.profile_wrap .sub-content:hover {
  cursor: pointer;
}

.profile_wrap .sub-content-re {
  margin-top: 5px;
  color: #a3a3a3;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.profile_wrap .btn-group button {
  width: 100%;
  margin-top: 10px;
  height: 41px;
}

.profile_wrap .check .MuiFormControlLabel-root {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profile_wrap .check .PrivateSwitchBase-root-5 {
  padding-top: 1px;
}

.profile_wrap .check span {
  color: #8a8a8a;
}

.profile_wrap .change {
  text-align: center;
  margin-top: 30px;
}

.profile_wrap .change span {
  color: #9c27b0;
}

.profile_wrap .change span:hover {
  cursor: pointer;
}

.profile_wrap .change a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */